@import "reset";
@import "./variables/global";

body {
    overflow: hidden;
}

.app {
    font-size: 30px;
    overflow: hidden;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

//Переопределение стилей в ant design

input.ant-input,
textarea.ant-input,
input.ant-input-number-input {
    &:hover {
        border-color: var(--color-green-primary) !important;
    }

    &:focus {
        border-color: var(--color-green-primary) !important;
    }

    &:active {
        border-color: var(--color-green-primary) !important;
    }

    &:visited {
        border-color: var(--color-green-primary) !important;
    }

    &:focus-visible {
        border-color: var(--color-green-primary) !important;
    }

    &:focus-within {
        border-color: var(--color-green-primary) !important;
    }
}

.ant-btn-primary {
    background-color: var(--color-green-primary) !important;
}

.btn-red {
    background-color: var(--color-red-primary) !important;
    border-color: var(--color-red-primary) !important;
    color: var(--color-white) !important;

    &:hover {
        border-color: var(--color-red-primary) !important;
        color: var(--color-white) !important;
    }
}

.btn-blue {
    background-color: var(--color-blue-primary) !important;
    border-color: var(--color-blue-primary) !important;
    color: var(--color-white) !important;

    &:hover {
        border-color: var(--color-blue-primary) !important;
        color: var(--color-white) !important;
    }
}
//TODO: стилизовать checkbox
//.ant-checkbox.ant-checkbox-inner {
//    &:hover {
//        border-color: var(--color-green-primary) !important;
//    }
//
//    &:active {
//        border-color: var(--color-green-primary) !important;
//    }
//}


