.constainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 30px;
    max-width: 600px;
    width: 100%;
    border: 1px solid var(--color-grey-primary);
    border-radius: 10px;
}

.descripthon {
    display: inline;
    line-height: 0px;
    margin: 0;
    padding: 0;
    padding-left: 12px;
    font-size: 16px;
}

.button {
    width: 100%;
}

.input {
    margin: 0;

    &:hover {
        border-color: var(--color-green-primary) !important;
    }

    &:focus {
        border-color: var(--color-green-primary) !important;
    }

    &:active {
        border-color: var(--color-green-primary) !important;
    }

    &:visited {
        border-color: var(--color-green-primary) !important;
    }

    &:focus-visible {
        border-color: var(--color-green-primary) !important;
    }

    &:focus-within {
        border-color: var(--color-green-primary) !important;
    }
}
