html {
    --color-red-primary: #d9544f;
    --color-red-dark: #8d1d1a;
    --color-red-darker: #b21f2d;
    --color-red-light: #fff5f5;
    --color-blue-primary: #1b4778;
    --color-blue-dark: #0b2e54;
    --color-blue-light: #338fd0;
    --color-blue: #007bff;
    --color-wiki-blue: #4183c4;
    --color-wiki-blue-sky: #f3f7fa;
    --color-blue-sky: #d5e8f5;
    --color-grey-primary: #ccc;
    --color-grey: #e6e6e6;
    --color-grey-light: #f0f0f0;
    --color-grey-dark: #999;
    --color-wiki-grey: #b3b3b3;
    --color-wiki-grey-primary: #f6f6f6;
    --color-grey-darker: #606060;
    --color-grey-darkest: #333;
    --color-navy-dark: #161d25;
    --color-navy-primary: #004059;
    --color-green-primary: #00a65a;
    --color-green-dark: #006c3b;
    --color-green-light: #c2ead7;
    --color-yellow-light: #fbf3d0;
    --color-yellow-primary: #efc626;
    --color-yellow: #fff3a1;
    --color-orange-primary: #f28c54;
    --color-white: #fff;
    --tab-big-size: 165px;
    --tab-small-size: 115px;
    --top-bar-height: 50px;
    --top-subbar-height: 45px;

    height: 100%;
    font-family: "Segoe UI", sans-serif;
    box-sizing: border-box;
}
