.container {
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid var(--color-grey);
    border-radius: 10px;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
}

.record {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-bottom: 10px;
}

.title {
    font-size: 16px;
    font-weight: 700;
}

.description {
    font-size: 16px;
}

.buttons {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-column-gap: 10px;
    justify-content: flex-end;
}
