.link {
    display: inline;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-grey-darker);

    &:hover {
        text-decoration-line: underline;
        color: var(--color-green-primary);
    }
}

.active {
    display: inline;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
    text-decoration-line: underline;
    color: var(--color-green-primary);
}
