.container {
  margin-bottom: 10px;
  padding: 20px;
}

.record {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.description {
  font-size: 16px;
}

.buttons {
  display: grid;
  grid-template-columns: 200px 120px;
  grid-column-gap: 10px;
  justify-content: flex-end;
}